// @mixin query-print {
//     @media print {
//       @content;
//     }

//     @at-root.body.is-pdf-mode #{&} {
//       @content;
//     }
// };

@media print {
    *,
    *::before,
    *::after {
        color: #000000 !important;
        text-shadow: none !important;
        background: #ffffff !important;
        box-shadow: none !important;
    }

    p {
        orphans: 5;
    }

    ul {
        page-break-inside: avoid;
    }

    section {
        page-break-before: always;
    }

    body {
        -webkit-print-color-adjust: exact !important;
        zoom: 70%;
    }
    body > *:not(main) {
        display: none;
    }
    .hr.m-0 {
        size: 0em;
    }
    a[href^='http']:not([href*='mywebsite.com'])::after {
        content: ' (' attr(href) ')';
    }
}
