doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Резюме')
        meta(name='author', content='Савин (jtprogru) Михаил')
        script(src="https://code.iconify.design/1/1.0.7/iconify.min.js", crossorigin='anonymous')

        title Резюме - Савин Михаил

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&family=Yanone+Kaffeesatz:wght@300;600&display=swap', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top
        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Михаил Савин
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') Обо мне
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Навыки
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Опыт работы
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Образование
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Интересы
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Сертификаты
                    //- li.nav-item
                    //-     a.nav-link.js-scroll-trigger(href='#podcast') VoiceOps

        // Page Content
        .container-fluid.p-0#content

            // About
            section#about.resume-section
                .resume-section-content.pdf-break-after
                    h1.mb-0.mt-0
                        | Михаил
                        span.text-primary Савин
                    .subheading.mb-2
                        | Москва · Россия · World Wide Web
                    p.lead.mb-3
                        | У меня довольно богатый и разносторонний опыт в роли
                        b Infrastructure Engineer,
                        b SRE
                        | и
                        b Linux administrator.
                    p.lead.mb-3
                        | Я родился и вырос в маленькой деревне, а сейчас моя работа помогает миллионам пользователей.
                        //- | Недавно запустил свой подкаст
                        //- a(href="#podcast") "VoiceOps",
                        //- | чтобы учиться новому у тех, кто знает больше меня!
                    p.lead.mb-3
                        | В работе ищу интересные задачи в направлении RnD:
                        | разобраться в непонятном баге, привнести "классную штуку" в команду которую раньше не использовали
                        | или написать какой-то "упрощатор жизни".
                        | Стараюсь автоматизировать всё, что того требует, а в качестве средства автоматизции
                        | стараюсь использовать Ansible.
                        | Хочу получить production-опыт с GitHub и GitHub Actions.
                    p.lead.mb-3
                        | Вы можете обратиться ко мне с предложением о работе или за консультацией по каким-либо вопросам, относящимся к моим <a href="#interests">интересам</a> или моему <a href="#experience">опыту.</a>
                    p.lead.mb-3
                        | По возможности я стараюсь записывать собеседование в аудио- или видео-формате при согласии всех участников. В дальнейшем запись собеседования публикуется в закрытом доступе. При желании могу предоставить исходник записи.
                    p.lead.mb-5
                        | Для связи пишите в Telegram: <a href='https://t.me/jtprogru', target="_blank"><b>@jtprogru</b></a>
                    .social-icons
                        a.social-icon(href='https://t.me/jtprogru', target="_blank").mb-2
                            i(data-icon="cib:telegram", data-inline="false").iconify
                        a.social-icon(href='https://github.com/jtprogru', target="_blank").mb-2
                            i(data-icon="cib:github", data-inline="false").iconify
                        a.social-icon(href='https://twitter.com/jtprogru', target="_blank").mb-2
                            i(data-icon="cib:twitter", data-inline="false").iconify
                        a.social-icon(href='https://www.linkedin.com/in/jtprogru', target="_blank").mb-2
                            i(data-icon="entypo-social:linkedin-with-circle", data-inline="false").iconify
                        a.social-icon(href='https://jtprog.ru', target="_blank").mb-2
                            i(data-icon="fa-solid:blog", data-inline="false").iconify
                        a.social-icon(href='https://www.codewars.com/users/jtprogru/', target="_blank").mb-2
                            i(data-icon="cib:codewars", data-inline="false").iconify
                        //- a.social-icon(href='#podcast').mb-2
                        //-     i(data-icon="fa-solid:podcast", data-inline="false").iconify
                        a.social-icon(href='mailto:mail@jtprog.ru').mb-2
                            i(data-icon="entypo:email", data-inline="false").iconify
                        a.social-icon(href='tel:+79060272719').mb-2
                            i(data-icon="entypo:phone", data-inline="false").iconify
                        a.social-icon(onclick="printer();", target="_blank").mb-2
                            i(data-icon="carbon:generate-pdf", data-inline="false").iconify

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content.pdf-break-after
                    h2.mb-3.mt-2 Навыки
                    .subheading.mb-2
                        | Языки программирования & Тулзы & Практики
                    p.lead.mb-2
                        | Здесь собраны все технологии с которыми я работал и которые я могу уверенно использовать в своей работе.
                    ul.fa-ul.mb-5
                        li
                            span.fa-li
                                i.fas.fa-check
                            | OS:
                            | <span class="iconify" data-icon="cib:ubuntu" data-inline="false"></span> Ubuntu,
                            | <span class="iconify" data-icon="cib:debian" data-inline="false"></span> Debian,
                            | <span class="iconify" data-icon="cib:centos" data-inline="false"></span> CentOS,
                            | <span class="iconify" data-icon="cib:redhat" data-inline="false"></span> RHEL
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Configuration managment:
                            | <span class="iconify" data-icon="cib:ansible" data-inline="false"></span> Ansible,
                            | <span class="iconify" data-icon="cib:saltstack" data-inline="false"></span> SaltStack
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Version control:
                            | <span class="iconify" data-icon="cib:gitlab" data-inline="false"></span> GitLab,
                            | <span class="iconify" data-icon="akar-icons:github-fill" data-inline="false"></span> GitHub,
                            | <span class="iconify" data-icon="fa:bitbucket" data-inline="false"></span> Bitbucket
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Task management:
                            | <span class="iconify" data-icon="mdi:jira" data-inline="false"></span> Jira,
                            | <span class="iconify" data-icon="ci:trello" data-inline="false"></span> Trello
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Monitoring:
                            | <span class="iconify" data-icon="simple-icons:prometheus" data-inline="false"></span> Prometheus,
                            | <span class="iconify" data-icon="cib:grafana" data-inline="false"></span> Grafana,
                            | Zabbix
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Documentation:
                            | <span class="iconify" data-icon="cib:confluence" data-inline="false"></span> Confluence,
                            | <span class="iconify" data-icon="cib:gitlab" data-inline="false"></span> GitLab /
                            | <span class="iconify" data-icon="cib:github" data-inline="false"></span> GitHub Wiki,
                            | <span class="iconify" data-icon="cib:notion" data-inline="false"></span> Notion
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Virtualisation:
                            | <span class="iconify" data-icon="cib:proxmox" data-inline="false"></span> Proxmox,
                            | <span class="iconify" data-icon="carbon:logo-vmware" data-inline="false"></span> VMware
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Programming:
                            | <span class="iconify" data-icon="bx:bxl-python" data-inline="false"></span> Python,
                            | <span class="iconify" data-icon="mdi:bash" data-inline="false"></span> Bash,
                            | <span class="iconify" data-icon="cib:php" data-inline="false"></span> PHP
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Practice: DevOps/DevSecOps, DocOps, IaC, ChatOps
                    //- фыввы
                    .subheading.mb-2 Знание языков
                    ul.fa-ul.mb-5
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Русский — Родной
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Английский — A2

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content.pdf-break-after
                    h2.mb-3.mt-0 Опыт работы

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5.pdf-break-after
                        .flex-grow-1
                            h3.mb-0 Старший инженер доступности
                            .subheading.mb-3
                                a(href='http://corp.mail.ru', target="_blank").mb-2 "Mail.Ru Group"
                            p.lead
                                | Работаю над проектом "Поиск Mail.ru". Уменьшил общее количество ошибок, допускаемых при
                                | работе с репозиторием SaltStack'а путем добавления различного рода проверок для SaltStack.
                                | Глобально используется очень много внутренних самописных продуктов.
                                | Инфраструктура на bare-metal. Занимаюсь поддержкой большого количества высоконагруженных
                                | сервисов написаных на различных языках.
                            p
                                | SaltStack, Nagios, Grafana, Gitlab CI
                        .flex-shrink-0
                            span.text-primary Март 2021 - Настоящее время

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5.pdf-break-after
                        .flex-grow-1
                            h3.mb-0 Инженер DevOps
                            .subheading.mb-3 "Secret Startup" (NDA)
                            p.lead
                                | Проектная работа
                                | Помощь команде разработки в организации CI/CD.
                                | Перенес проект с собственной bare-metal инфраструктуры на DigitalOcean Managed Kubernetes.
                                | Спроектировал и развернул Production контур в DigitalOcean с помощью Terraform.
                                | Конфигурацию серверов и сервисов реализовал с помощью Ansible.
                            p
                                | Ansible, Prometheus, Grafana, Gitlab CI
                        .flex-shrink-0
                            span.text-primary Январь 2021 - Июль 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5.pdf-break-after
                        .flex-grow-1
                            h3.mb-0 Ведущий системный администратор
                            .subheading.mb-3
                                a(href="http://adv.ru", target="_blank") ООО "АДВ"
                            p.lead
                                | Поддержание работоспособности как внутренней инфраструктуры, так и инфраструктур клиентов.
                                | Проектирование, внедрение и сопровождение dev/stage/production контуров для компаний-клиентов.
                                | Общее количество серверов на поддержке – порядка трёх сотен. Применение практик DevOps.
                                | Внедрение практик документирования процессов/изменений/конфигураций, а так же актуализация
                                | документации по проектам. Внедрение методологии IaC. Реализовал шаблонный репозиторий с описанием
                                | инфраструктуры для типового e-comm проекта компании на Ansible и "кнопочками" запуска
                                | автоматизции через GitLab CI. Спроектировал и запустил инфраструктуру проекта
                                | <a href="http://sammybeauty.ru", target="_blank">"SammyBeauty"</a>. Площадка выдержала в первый
                                | час запуска порядка 75k уникальных пользователей и в районе 220rps.
                                | Реализовал внутренний проект "Big-Green-Button": шаблонный репозиторий
                                | с ansible-плейбуками для разворачивания с нуля проектов схожих с вышеупомянутым.
                            p
                                | Ansible/Terraform, Zabbix/Prometheus, Grafana, Gitlab CI
                        .flex-shrink-0
                            span.text-primary Октябрь 2019 - Февраль 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5.pdf-break-after
                        .flex-grow-1
                            h3.mb-0 Старший инженер поддержки Linux-систем
                            .subheading.mb-3
                                a(href='http://7pro.ru', target="_blank").mb-2  ООО "СевенПро" / ООО "РегионКом"
                            p.lead
                                | Поддержка инфраструктур государственных и коммерческих компаний. Общее количество
                                | серверов на поддержке – более двух тысяч серверов. Траблшутинг CentOS 6.x/7.x.
                                | Работа с аппаратными балансировщиками нагрузки, а так же с МСЭ CheckPoint.
                                | Внедрил MITM на уровне инфраструктуры одного крупного проекта. Написал автоматизацию
                                | для автоматического заведения/закрытия заявок в Jira на основе
                                | триггеров в <a href="https://github.com/jtprogru/zbx2jira">Zabbix</a>.
                            p
                                | Zabbix, Grafana, Linux, Git, Gitlab, Python,
                        .flex-shrink-0
                            span.text-primary Июнь 2018 - Октябрь 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5.pdf-break-after
                        .flex-grow-1
                            h3.mb-0 Системный администратор
                            .subheading.mb-3
                                a(href='http://webkontrol.com', target="_blank").mb-2 ООО "ВебКонтроль"
                            p.lead
                                | Поддержание работоспособности инфраструктуры компании. Прямое взаимодействие
                                | с командой разработчиков. Внедрение почтового сервиса Gmail по подписке G Suite Enterprise.
                                | Настройка системы мониторинга на базе Zabbix 3.4. Обслуживание 62 серверов
                                | из которых 54 расположены в Hetzner (весь production плюс тестовые стенды).
                                | Обслуживание и мониторинг файлового хранилища на базе GlusterFS общим объёмом 30 ТБ.
                                | Конфигурирование/обслуживание/мониторинг нескольких хостов использующих DRBD.
                                | Ведение документации в Wiki (Gitlab). Хранение конфигураций серверов в Gitlab.
                                | Минимальное обслуживание СУБД MySQL/PostgreSQL/MS SQL/Redis. Поиск узких мест
                                | в инфраструктуре и постоянная модернизация.
                        .flex-shrink-0
                            span.text-primary Январь 2018 - Июнь 2018

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5.pdf-break-after
                        .flex-grow-1
                            h3.mb-0 Системный администратор
                            .subheading.mb-3
                                a(href='https://www.moireis.ru/', target="_blank").mb-2 ЗАО "АЛЬЯНС-ТРЕВЭЛ"
                            p.lead
                                | Парк – более 100 машин. Основная деятельность – поддержание работоспособности
                                | инфраструктуры компании. Резервное копирование данных (Bacula). Обслуживание кластера
                                | виртуализации VMWare ESXi. Обслуживание серверов Active Directory (Windows Server 2003-2012).
                                | Обслуживание серверов на базе CentOS 5/6/7 (примерный список сервисов:
                                | прокси, реверспрокси, внутренние и внешние веб-сервисы, сервер резервного копирования).
                                | Базы данный MySQL, PostgreSQL, Oracle, MSSQL. Обслуживание активного сетевого
                                | оборудования Cisco/Mikrotik.
                        .flex-shrink-0
                            span.text-primary Август 2017 - Январь 2018

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5.pdf-break-after
                        .flex-grow-1
                            h3.mb-0 Системный администратор
                            .subheading.mb-3
                                a(href='http://webkontrol.com', target="_blank").mb-2 ООО "И-групп"
                            p.lead
                                | Проектная работа. Полностью спроектировал всю офисную инфраструктуру компании.
                                | Предоставил полный комплект документации: регламенты, должностные инструкции,
                                | пользовательские и администраторские мануалы.
                        .flex-shrink-0
                            span.text-primary Апрель 2017 - Июнь 2017

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5.pdf-break-after
                        .flex-grow-1
                            h3.mb-0 Помощник Системного администратора / Системный администратор / Руководитель отдела ИТ
                            .subheading.mb-3
                                a(href='http://www.argosy-tech.ru/', target="_blank").mb-2 ООО "Аргоси Аналитика"
                            p.lead
                                | Прошел путь от помощника системного администратора, до руководителя отдела ИТ.
                                | Парк — более 400 машин. Основная деятельность — поддержание работоспособности рабочих
                                | мест сотрудников. Резервное копирование данных. Развертывание серверов виртуализации (VMWare).
                                | Развертывание почтовых серверов (Ubuntu Server 14.04+Postfix+iRedMail). Создание файловых
                                | хранилищ (Ubuntu Server 14.04; Windows Server 2012). Обслуживание серверов Active
                                | Directory (Windows Server 2003-2012).
                        .flex-shrink-0
                            span.text-primary Май 2014 - Март 2017

            hr.m-0

            // Education
            section#education.resume-section.pdf-break-after
                .resume-section-content
                    h2.mb-3.mt-0 Образование

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 МФПУ "Синергия"
                            .subheading.mb-3 Руководитель службы безопасности
                            div.mb-4 Новые Технологии Бизнеса – Менеджмент систем безопасности
                        .flex-shrink-0
                            span.text-primary Июль 2012 - Октябрь 2013

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 СГТУ им Гагарина Ю.А.
                            .subheading.mb-3 Инженер-программист
                            div.mb-4 Прикладная Инфрматика и Технологии – Информационные системы и технологии
                        .flex-shrink-0
                            span.text-primary Август 2007 - Май 2008

            hr.m-0

            // Interests
            section#interests.resume-section.pdf-break-after
                .resume-section-content
                    h2.mb-3.mt-0 Интересы
                    p.lead.mb-0
                        | Я постоянно развиваюсь в своей профессиональной области. Учусь новому на примере решения сложных задач.
                        | Так же я занимаюсь воспитанием сына и веду некоторую активность в Интернете.
                        | Веду свой блог <a href="https://jtprog.ru", target="_blank">"SysOps"</a> в качестве записной книжки. Стараюсь записывать туда всё, что может быть интересно не только мне в формате сжатых "инструкций к действию".
                        | Так же веду канал в Telegram <a href="https://t.me/sysopschannel", target="_blank">"SysOps"</a>, в котором публикую помимо ссылок на свои статьи еще и какие-то минизаметки по hard&soft-скиллам.
                        | Иногда пишу всякие поделки на Python, стараюсь применять аннотацию типов.
                        | Для Python-проектов стараюсь реализовать автоматизацию на базе GitHub Actions.

            hr.m-0

            // Awards
            section#awards.resume-section.pdf-break-after
                .resume-section-content
                    h2.mb-3.mt-0 Сертификаты
                    p.lead.mb-3
                        | Иногда я что-то прохожу - какой-то курс, который мне бывает интересен. Тут список тех курсов и сертификаций, которые я прошел.
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="http://www.intuit.ru/verifydiplomas/100880600", target="_blank").lead Операционная система Linux
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="http://www.intuit.ru/verifydiplomas/00215146", target="_blank").lead Основы локальных сетей
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="http://www.intuit.ru/verifydiplomas/100880577", target="_blank").lead Анализ и управление рисками в ИС на базе ОС Microsoft Windows
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="http://www.intuit.ru/verifydiplomas/00178706", target="_blank").lead Основы JavaScript
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="http://www.intuit.ru/verifydiplomas/00181746", target="_blank").lead Основы CSS
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="http://www.intuit.ru/verifydiplomas/100880561", target="_blank").lead Информационные технологии в управлении (Сертификация)
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="https://www.datacamp.com/courses/free-introduction-to-r", target="_blank").lead Introduction to R
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="https://www.intuit.ru/verifydiplomas/101068636", target="_blank").lead Информационная безопасность
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="https://www.intuit.ru/verifydiplomas/100907833", target="_blank").lead Безопасность сетей
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="https://slurm.io/kubernetes-baza", target="_blank").lead "Slurm-2": Интенсив по администрированию Kubernetes

            hr.m-0

            // VoiceOps
            //- section#podcast.resume-section.pdf-break-after
            //-     .resume-section-content.m-0
            //-         h1.mb-0.mt-0
            //-             | Voice
            //-             span.text-primary Ops
            //-         .subheading.mb-5
            //-             | В основном про IT. В большей степени про Dev и Ops.
            //-         p.lead.mb-3
            //-             | Подкаст ведется на русском языке. По вопросам сотрудничесва или любым другим вопросам, связанным с подкастом, пишите мне в Telegram.
            //-         p.lead.mb-5
            //-             | Подкаст доступен на большинстве ключевых платформ.
            //-         .social-icons.d-flex.flex-row.justify-content.flex-wrap
            //-             a.social-icon(href='https://open.spotify.com/show/6iqSDnmbtZxSS9uFlblZeE', target="_blank").mb-3
            //-                 i(data-icon="cib:spotify", data-inline="false").iconify
            //-             a.social-icon(href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8yNjE5NWFmYy9wb2RjYXN0L3Jzcw==", target="_blank").mb-3
            //-                 i(data-icon="cib:google-podcasts", data-inline="false").iconify
            //-             a.social-icon(href='https://podcasts.apple.com/ru/podcast/voiceops/id1574365995', target="_blank").mb-3
            //-                 i(data-icon="cib:apple-podcasts", data-inline="false").iconify
            //-             a.social-icon(href='https://music.yandex.ru/album/16576028', target="_blank").mb-3
            //-                 i(data-icon="cib:yandex", data-inline="false").iconify
            //-             a.social-icon(href='https://pca.st/uvblbc0x', target="_blank").mb-3
            //-                 i(data-icon="simple-icons:pocketcasts", data-inline="false").iconify
            //-             a.social-icon(href='https://www.breaker.audio/voiceops', target="_blank").mb-3
            //-                 i(data-icon="simple-icons:breaker", data-inline="false").iconify
            //-             a.social-icon(href='https://t.me/voiceopschannel', target="_blank").mb-3
            //-                 i(data-icon="cib:telegram", data-inline="false").iconify

            //- hr.m-0

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/html2pdf.bundle.min.js')
        script(src='js/html2canvas.min.js')
        script(src='js/printer.js')
        script(src='js/scripts.js')
        script(src='js/twitter.js')
