doctype html
html(lang='ru')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Резюме')
        meta(name='author', content='Михаил (jtprogru) Савин')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/iconify/2.0.0/iconify.min.js", crossorigin='anonymous')

        title Резюме - Михаил Савин

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.4.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&family=Yanone+Kaffeesatz:wght@300;600&display=swap', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top
        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Михаил Савин
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') Обо мне
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Навыки
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Опыт работы
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Образование
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Интересы
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Сертификаты
                    //- li.nav-item
                    //-     a.nav-link.js-scroll-trigger(href='#podcast') VoiceOps

        // Page Content
        .container-fluid.p-0#content
            // About
            section#about.resume-section
                .resume-section-content.pdf-break-after
                    h1.mb-0.mt-0
                        | Михаил
                        span.text-primary Савин
                    .subheading.mb-2
                        | Москва · Россия · World Wide Web
                    p.lead.mb-3
                        | У меня довольно богатый и разносторонний опыт в роли <b>Infrastructure Engineer</b>, <b>SRE</b>, <b>Linux administrator</b>, <b>Head of IT Department and System Administration Department</b>.
                    p.lead.mb-3
                        | Я родился и вырос в маленькой деревне, а сейчас моя работа помогает миллионам пользователей.
                    p.lead.mb-3
                        | В работе ищу интересные задачи в направлении RnD:
                        | разобраться в непонятном баге, привнести "классную штуку" в команду которую раньше не использовали
                        | или написать какой-то "упрощатор жизни".
                        | Стараюсь автоматизировать всё, что того требует, а в качестве средства автоматизации
                        | стараюсь использовать Ansible.
                        | В идеальном мире хочу получить production-опыт с GitHub и GitHub Actions.
                    p.lead.mb-3
                        | Вы можете обратиться ко мне с предложением о работе или за консультацией по каким-либо вопросам,
                        | относящимся к моим <a href="#interests">интересам</a> или моему <a href="#experience">опыту</a>.
                    p.lead.mb-3
                        | По возможности я стараюсь записывать собеседование в аудио- и/или видео-формате при согласии
                        | всех участников. В дальнейшем запись собеседования публикуется в открытом доступе
                        | на <a href='https://soundcloud.com/jtprogru/sets/i1ftg7goqfvg?si=49be228fd9964f7d97188e03c2177802', target="_blank">SoundCloud</a>.
                        | При желании могу предоставить исходник записи.
                    p.lead.mb-3
                        | Иногда беру на себя роль наставника, например через площадку <a href='https://getmentor.dev/mentor/michael-savin-1427', target="_blank">GetMentor</a>.
                        | Эта деятельность не только помогает нуждающимся в поиске решений своих проблем, но и позволяет мне
                        | прокачивать soft-skills.
                    p.lead.mb-3
                        | Для связи пишите в Telegram: <a href='https://t.me/jtprogru', target="_blank"><b>@jtprogru</b></a> или по альтернативным каналам связи. Выбрать время для интервью или консультаций можно на страничке <a href='https://calendly.com/jtprogru', target="_blank"><b>Calendly</b></a>.
                    p.lead.mb-5
                        | To view my CV in English, follow this <a href="https://s11l.me">link</a>.

                    .social-icons
                        a.social-icon(href="https://t.me/jtprogru", target="_blank").mb-2
                            i(data-icon="cib:telegram", data-inline="false").iconify
                        a.social-icon(href="https://github.com/jtprogru", target="_blank").mb-2
                            i(data-icon="cib:github", data-inline="false").iconify
                        a.social-icon(href="https://twitter.com/jtprogru", target="_blank").mb-2
                            i(data-icon="cib:twitter", data-inline="false").iconify
                        a.social-icon(href="https://www.linkedin.com/in/jtprogru", target="_blank").mb-2
                            i(data-icon="cib:linkedin", data-inline="false").iconify
                        a.social-icon(href="https://jtprog.ru", target="_blank").mb-2
                            i(data-icon="carbon:blog", data-inline="false").iconify
                        a.social-icon(href="https://www.codewars.com/users/jtprogru/", target="_blank").mb-2
                            i(data-icon="cib:codewars", data-inline="false").iconify
                        a.social-icon(href="https://leetcode.com/jtprogru/", target="_blank").mb-2
                            i(data-icon="cib:leetcode", data-inline="false").iconify
                        a.social-icon(href="https://unsplash.com/@jtprogru", target="_blank").mb-2
                            i(data-icon="cib:unsplash", data-inline="false").iconify
                        a.social-icon(href="https://calendly.com/jtprogru", target="_blank").mb-2
                            i(data-icon="fa-solid:calendar-check", data-inline="false").iconify
                        a.social-icon(rel="me", href="https://mas.to/@jtprogru", target="_blank").mb-2
                            i(data-icon="cib:mastodon", data-inline="false").iconify
                        a.social-icon(href="assets/pdf/CV-SavinMI-SRE.pdf", target="_blank").mb-2
                            i(data-icon="carbon:generate-pdf", data-inline="false").iconify

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content.pdf-break-after
                    h2.mb-3.mt-2 Навыки
                    .subheading.mb-2
                        | Языки программирования & Тулзы & Практики
                    p.lead.mb-2
                        | Здесь собраны все технологии с которыми я работал и которые я могу уверенно использовать в своей работе.
                    ul.fa-ul.mb-5
                        li
                            span.fa-li
                                i.fas.fa-check
                            b Cloud providers:
                            | <span class="iconify" data-icon="fa-brands:yandex-international" data-inline="false"></span> Yandex.Cloud,
                            | <span class="iconify" data-icon="simple-icons:digitalocean" data-inline="false"></span> DigitalOcean
                        li
                            span.fa-li
                                i.fas.fa-check
                            b OS:
                            | <span class="iconify" data-icon="cib:ubuntu" data-inline="false"></span> Ubuntu,
                            | <span class="iconify" data-icon="cib:debian" data-inline="false"></span> Debian,
                            | <span class="iconify" data-icon="cib:centos" data-inline="false"></span> CentOS,
                            | <span class="iconify" data-icon="cib:redhat" data-inline="false"></span> RHEL
                        li
                            span.fa-li
                                i.fas.fa-check
                            b Configuration managment:
                            | <span class="iconify" data-icon="cib:ansible" data-inline="false"></span> Ansible,
                            | <span class="iconify" data-icon="cib:terraform" data-inline="false"></span> Terraform,
                            | <span class="iconify" data-icon="cib:saltstack" data-inline="false"></span> SaltStack
                        li
                            span.fa-li
                                i.fas.fa-check
                            b Version control:
                            | <span class="iconify" data-icon="akar-icons:github-fill" data-inline="false"></span> GitHub,
                            | <span class="iconify" data-icon="cib:gitlab" data-inline="false"></span> GitLab,
                            | <span class="iconify" data-icon="fa:bitbucket" data-inline="false"></span> Bitbucket
                        li
                            span.fa-li
                                i.fas.fa-check
                            b Task management:
                            | <span class="iconify" data-icon="akar-icons:github-fill" data-inline="false"></span> GitHub Projects,
                            | <span class="iconify" data-icon="mdi:jira" data-inline="false"></span> Jira,
                            | <span class="iconify" data-icon="ci:trello" data-inline="false"></span> Trello

                        li
                            span.fa-li
                                i.fas.fa-check
                            b Monitoring:
                            | <span class="iconify" data-icon="simple-icons:prometheus" data-inline="false"></span> Prometheus,
                            | <span class="iconify" data-icon="cib:grafana" data-inline="false"></span> Grafana,
                            | Zabbix
                        li
                            span.fa-li
                                i.fas.fa-check
                            b Documentation:
                            | <span class="iconify" data-icon="cib:confluence" data-inline="false"></span> Confluence,
                            | <span class="iconify" data-icon="cib:gitlab" data-inline="false"></span> GitLab /
                            | <span class="iconify" data-icon="cib:github" data-inline="false"></span> GitHub Wiki,
                            | <span class="iconify" data-icon="cib:notion" data-inline="false"></span> Notion
                        li
                            span.fa-li
                                i.fas.fa-check
                            b Virtualisation:
                            | <span class="iconify" data-icon="cib:proxmox" data-inline="false"></span> Proxmox,
                            | <span class="iconify" data-icon="carbon:logo-vmware" data-inline="false"></span> VMware
                        li
                            span.fa-li
                                i.fas.fa-check
                            b Programming:
                            | <span class="iconify" data-icon="cib:python" data-inline="false"></span> Python,
                            | <span class="iconify" data-icon="cib:go" data-inline="false"></span> Go
                            | <span class="iconify" data-icon="mdi:bash" data-inline="false"></span> Bash,
                        li
                            span.fa-li
                                i.fas.fa-check
                            b Practice:
                            | SRE, DevOps/DevSecOps, DocOps, IaC, ChatOps, Agile/Scrum

                    .subheading.mb-2 Знание языков
                    ul.fa-ul.mb-5
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Русский — Родной
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Английский — Pre-Intermediate

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content.pdf-break-after
                    h2.mb-3.mt-0 Опыт работы

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5.pdf-break-after
                        .flex-grow-1
                            h3.mb-0 Lead SRE
                            .subheading.mb-3
                                a(href='https://ptsecurity.com', target="_blank").mb-2 Positive Technologies
                            p.lead
                                | Собрал команду SRE, которая обслуживает облачную платформу для облачного WAF.
                                | Улучшил процессы кросс-командной коммуникации, а так же выстроил процессы
                                | внутри команды SRE и инфраструктуры.
                                | Активно участвую в перестроении процессов разработки.
                                | Внедрил практики управления инцидентами и проактивного мониторинга.
                            p
                                | Terraform, Ansible, Yandex.Cloud, Python, Go
                        .flex-shrink-0
                            span.text-primary Январь 2023 - настоящее время

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5.pdf-break-after
                        .flex-grow-1
                            h3.mb-0 DevOps / Consulting
                            .subheading.mb-3
                                a(href='https://kekscredit.ru', target="_blank").mb-2 МКК "Варенье Кредит"
                            p.lead
                                | Консультация по вопросам построения отказоустойчивой инфраструктуры.
                                | Проектирование инфраструктуры на мощностях Yandex.Cloud с последущим переносом
                                | инфраструктуры. Формирование кодовой базы для управления инфраструктурой.
                                | Проведение собеседований на позицию DevOps. Сопровождение legacy-инфраструктуры.
                                | Реагирование на проблемы с инфраструктурой в облаке.
                            p
                                | Ansible, Terraform, Yandex.Cloud, Python, PHP
                        .flex-shrink-0
                            span.text-primary Февраль 2022 - настоящее время

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5.pdf-break-after
                        .flex-grow-1
                            h3.mb-0 SRE
                            .subheading.mb-3
                                a(href='https://bank.yandex.ru', target="_blank").mb-2 "Яндекс.Банк"
                            p.lead
                                | Управление инфраструктурой для нового банка в рамках экосистемы Яндекс.
                                | Задачи, которые я решал имели самое разнообразное направление: от настройки
                                | нового сервера в staging-окружение и написания скриптов автоматизации
                                | на Python, до деплоя нового сервиса в Production кластер Kubernetes и написания
                                | собственных микросервисов решающих проблемы инфраструктуры и ИБ.
                            p
                                | Ansible, Terraform, Yandex.Cloud, Python, Go
                        .flex-shrink-0
                            span.text-primary Март 2022 - Ноябрь 2022

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5.pdf-break-after
                        .flex-grow-1
                            h3.mb-0 SRE
                            .subheading.mb-3
                                a(href='https://vk.company/ru/', target="_blank").mb-2 "VK" (ранее Mail.ru Group)
                            p.lead
                                | Работал над проектом "Поиск". Уменьшил общее количество ошибок, допускаемых при
                                | работе с репозиторием SaltStack'а путем добавления различного рода проверок для SaltStack.
                                | Вычистил инфраструктурный репозиторий от ошибок линтера – &gt;10k ошибок уровня "HIGH" в &gt;3k SLS-файлов.
                                | Глобально используется очень много внутренних самописных продуктов, названия которых не покидают пределов компании.
                                | Общее количество серверов в зоне ответственности команды SRE &gt;5000 bare-metal серверов.
                                | Инфраструктура на bare-metal. Так же используются LXC, Docker и самописные сервисы.
                                | Занимался поддержкой высоконагруженных сервисов в рамках проекта.
                            p
                                | SaltStack, Python, Linux, Gitlab CI
                        .flex-shrink-0
                            span.text-primary Март 2021 - Февраль 2022

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5.pdf-break-after
                        .flex-grow-1
                            h3.mb-0 Инженер DevOps
                            .subheading.mb-3 NDA
                            p.lead
                                | <b>Проектная работа.</b>
                                | Помог команде разработки в доработке и оптимизации CI/CD.
                                | Перенес проект с собственной bare-metal инфраструктуры на DigitalOcean Managed Kubernetes.
                                | Спроектировал и развернул Production контур в DigitalOcean с помощью Terraform.
                                | Конфигурацию серверов и сервисов реализовал с помощью Ansible.
                                | Все наработки автоматизации оставлены команде разработки.
                            p
                                | Ansible, Prometheus, Grafana, Gitlab CI
                        .flex-shrink-0
                            span.text-primary Январь 2021 - Июль 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5.pdf-break-after
                        .flex-grow-1
                            h3.mb-0 Ведущий системный администратор
                            .subheading.mb-3
                                a(href="http://adv.ru", target="_blank") ООО "АДВ"
                            p.lead
                                | Внедрил практики документирования процессов/изменений/конфигураций, а так же актуализировал
                                | документацию по проектам. Внедрил методологию IaC. Реализовал шаблонный репозиторий с описанием
                                | инфраструктуры для типового e-comm проекта компании на Ansible и "кнопочками" запуска
                                | автоматизции через GitLab CI. Спроектировал и запустил инфраструктуру проекта
                                | <a href="http://sammybeauty.ru", target="_blank">"SammyBeauty"</a>. Площадка выдержала в первый
                                | час запуска порядка 75k уникальных пользователей и более 225rps.
                                | Единолично реализовал внутренний проект "Big-Green-Button": шаблонный репозиторий
                                | с ansible-плейбуками и ролями (роли хранятся во внутреннем GitLab и подключаются как зависимости через Galaxy)
                                | для разворачивания с нуля проектов схожих с вышеупомянутым.
                                | Разворачивание проиходит по "нажатию кнопки в web-интерфейсе" GitLab.
                                | Внедрил Terraform для управления виртуалками на внутренней системе виртуализации Proxmox.
                            p
                                | Ansible/Terraform, Zabbix/Prometheus, Grafana, Gitlab CI
                        .flex-shrink-0
                            span.text-primary Октябрь 2019 - Февраль 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5.pdf-break-after
                        .flex-grow-1
                            h3.mb-0 Старший инженер поддержки Linux-систем
                            .subheading.mb-3
                                a(href='http://7pro.ru', target="_blank").mb-2  ООО "СевенПро" / ООО "РегионКом"
                            p.lead
                                | Поддерживал инфраструктуры государственных и коммерческих компаний. Общее количество
                                | серверов на поддержке >2000 серверов. Траблшутинг CentOS 6.x/7.x.
                                | Работа с аппаратными балансировщиками нагрузки, а так же с МСЭ CheckPoint.
                                | Внедрил MITM на уровне инфраструктуры одного крупного проекта. Написал автоматизацию
                                | для автоматического заведения/закрытия заявок в Jira на основе
                                | триггеров в <a href="https://github.com/jtprogru/zbx2jira">Zabbix</a>.
                                | Поделка до сих пор активно используется и работает.
                            p
                                | Zabbix, Grafana, Linux, Git, Gitlab, Python,
                        .flex-shrink-0
                            span.text-primary Июнь 2018 - Октябрь 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5.pdf-break-after
                        .flex-grow-1
                            h3.mb-0 Системный администратор
                            .subheading.mb-3
                                a(href='http://webkontrol.com', target="_blank").mb-2 ООО "ВебКонтроль"
                            p.lead
                                | Поддержание работоспособности инфраструктуры компании. Прямое взаимодействие с командой разработчиков.                        .flex-shrink-0
                            span.text-primary Январь 2018 - Июнь 2018

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5.pdf-break-after
                        .flex-grow-1
                            h3.mb-0 Системный администратор
                            .subheading.mb-3
                                a(href='https://www.moireis.ru/', target="_blank").mb-2 ЗАО "АЛЬЯНС-ТРЕВЭЛ"
                            p.lead
                                | Парк – более 100 машин. Основная деятельность – поддержание работоспособности инфраструктуры компании.
                        .flex-shrink-0
                            span.text-primary Август 2017 - Январь 2018

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5.pdf-break-after
                        .flex-grow-1
                            h3.mb-0 Системный администратор
                            .subheading.mb-3 ООО "И-групп"
                            p.lead
                                | Проектная работа. Полностью спроектировал всю офисную инфраструктуру компании.
                        .flex-shrink-0
                            span.text-primary Апрель 2017 - Июнь 2017

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5.pdf-break-after
                        .flex-grow-1
                            h3.mb-0 Помощник Системного администратора / Системный администратор / Руководитель отдела ИТ
                            .subheading.mb-3.mb-2 ООО "Аргоси Аналитика"
                            p.lead
                                | Прошел путь от помощника системного администратора, до руководителя отдела ИТ.
                        .flex-shrink-0
                            span.text-primary Май 2014 - Март 2017

            hr.m-0

            // Education
            section#education.resume-section.pdf-break-after
                .resume-section-content
                    h2.mb-3.mt-0 Образование

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 МТИ
                            .subheading.mb-3 Инженер-программист
                            div.mb-4 СПО - Информационные системы и программирование
                        .flex-shrink-0
                            span.text-primary Август 2022 - Июль 2025

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 МФПУ "Синергия"
                            .subheading.mb-3 Руководитель службы безопасности
                            div.mb-4 Новые Технологии Бизнеса – Менеджмент систем безопасности
                        .flex-shrink-0
                            span.text-primary Июль 2012 - Октябрь 2013

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 СГТУ им Гагарина Ю.А.
                            .subheading.mb-3 Инженер-программист
                            div.mb-4 Прикладная Инфрматика и Технологии – Информационные системы и технологии
                        .flex-shrink-0
                            span.text-primary Август 2007 - Май 2008

            hr.m-0

            // Interests
            section#interests.resume-section.pdf-break-after
                .resume-section-content
                    h2.mb-3.mt-0 Интересы
                    p.lead.mb-4
                        | Я постоянно развиваюсь в своей профессиональной области. Учусь новому на примере решения
                        | практических задач. Так же я занимаюсь воспитанием сына и веду некоторую активность в
                        | сети Интернет.
                    p.lead.mb-4
                        | Веду свой блог
                        | <a href="https://jtprog.ru", target="_blank"><b>jtprog.ru</b></a> в качестве
                        | записной книжки. Иногда записываю туда всё, что может быть интересно не только мне в
                        | формате сжатых "инструкций к действию". Так же веду канал в Telegram
                        | <a href="https://t.me/jtprogru_channel", target="_blank"><b>Savin Michael aka @jtprogru</b></a>,
                        | в котором, помимо ссылок на свои статьи, публикую минизаметки по hard- и soft-скиллам.
                    p.lead.mb-4
                        | Иногда пишу всякие поделки на Python – например эта штука:
                        | <a href="https://github.com/jtprogru/zbx2jira", target="_blank"><b>zbx2jira</b></a>,
                        | или на Golang – например эта штука:
                        | <a href="https://github.com/jtprogru/go-monkill", target="_blank"><b>go-monkill</b></a>.
                        | Для своих проектов использую автоматизацию на базе GitHub Actions.
                    p.lead.mb-0
                        | Уже давно увлекаюсь мобильной фотографией, но только недавно решился выкладывать это
                        | на общее обозрение в Telegram–канал
                        | <a href="https://t.me/michael_behind_lens", target="_blank"><b>Michael behind lens</b></a>
                        | и на свою страничку в <a href="https://unsplash.com/@jtprogru", target="_blank"><b>Unsplash</b></a>.

            hr.m-0

            // Awards
            section#awards.resume-section.pdf-break-after
                .resume-section-content
                    h2.mb-3.mt-0 Сертификаты
                    p.lead.mb-3
                        | Иногда я что-то прохожу - какой-то курс, который мне бывает интересен. Тут список тех курсов и сертификаций, которые я прошел.
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="assets/pdf/tabia.pdf", target="_blank").lead Медиа-тренинг по работе со СМИ
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="https://stepik.org/cert/1788601", target="_blank").lead "Поколение Python": курс для начинающих
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="https://intuit.ru/verifydiplomas/101557605", target="_blank").lead Основы операционных систем
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="https://stepik.org/cert/1741179", target="_blank").lead Цифровая трансформация. Быстрый старт
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="https://stepik.org/cert/1740964", target="_blank").lead Эпоха цифрового развития: основы цифровой трансформации
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="https://otus.ru/certificate/deebadb7239d4b7d97461b595b1a167b/", target="_blank").lead Fullstack Educator
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="https://stepik.org/cert/1550979", target="_blank").lead Программирование на Python
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="https://stepik.org/cert/1542111", target="_blank").lead Введение в БД
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="https://stepik.org/cert/1516950", target="_blank").lead Программирование на Golang
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="https://stepik.org/cert/1521422", target="_blank").lead Go (Golang) - первое знакомство
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="https://stepik.org/cert/1506330", target="_blank").lead Статьи для IT: как объяснять и распространять значимые идеи
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="https://intuit.ru/verifydiplomas/101471364", target="_blank").lead Администрирование ОС Linux
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="https://learn.epam.com/detailsPage?id=601f195a-d408-4439-a16d-0630ed2a412e", target="_blank").lead Version Control with Git
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="http://www.intuit.ru/verifydiplomas/100880600", target="_blank").lead Операционная система Linux
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="https://stepik.org/cert/1498725", target="_blank").lead Введение в Linux
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="http://www.intuit.ru/verifydiplomas/00215146", target="_blank").lead Основы локальных сетей
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="http://www.intuit.ru/verifydiplomas/100880577", target="_blank").lead Анализ и управление рисками в ИС на базе ОС Microsoft Windows
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="http://www.intuit.ru/verifydiplomas/00178706", target="_blank").lead Основы JavaScript
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="http://www.intuit.ru/verifydiplomas/00181746", target="_blank").lead Основы CSS
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="http://www.intuit.ru/verifydiplomas/100880561", target="_blank").lead Информационные технологии в управлении (Сертификация)
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="https://www.datacamp.com/courses/free-introduction-to-r", target="_blank").lead Introduction to R
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="https://www.intuit.ru/verifydiplomas/101068636", target="_blank").lead Информационная безопасность
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="https://www.intuit.ru/verifydiplomas/100907833", target="_blank").lead Безопасность сетей
                        li
                            span.fa-li
                                i.fas.fa-trophy.text
                            a(href="https://slurm.io/kubernetes-baza", target="_blank").lead "Slurm-2": Интенсив по администрированию Kubernetes

            hr.m-0

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
        script(src='js/twitter.js')

