//
// Colors
//

// Pre-state grayscale colors used in other variables
$gray100: #1c1c1c;
$gray200: #2c2c2c;
$gray300: #3c3c3c;
$gray400: #4c4c4c;
$gray600: #6c6c6c;
$gray800: #8c8c8c;

// Override Bootstrap color system

// $orange: #1d1e20;

$personal: #1d1e20;

// Override Bootstrap default state colors

$primary: $personal;
