//
// Colors
//

// Pre-state grayscale colors used in other variables

$gray-800: #3c3c3c;

// Override Bootstrap color system

// $orange: #1d1e20;

$personal: #1d1e20;

// Override Bootstrap default state colors

$primary: $personal;
