//
// Variables
//

// Override Bootstrap typography variables

$font-family-base: "Comfortaa", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-family: "Yanone Kaffeesatz", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-weight: 700;

$headings-color: $gray-800;

$h1-font-size: 5rem;
$h2-font-size: 3rem;
$h3-font-size: 1.5rem;
